<footer class="container">
  <div>
      <div>
          <div class="contacts">
              <h3>
                  Contacts
              </h3>
                <address>
                    Page Designed by: <a href="#">amosmoyo</a>.<br>
                    Email: <a href="#">amosmoyo5300@gmail.com</a><br>
                    Contacts Number: +254710510906<br>
                    Visit us at: <br>
                    https://amosmoyo.github.io/HCIGROUP-A<br>
                    Box 564, Nairobi<br>
                    Kenya
                </address>
          </div>
      </div>
      <div class="contacts">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores explicabo assumenda voluptatum minima, voluptates possimus optio omnis ex.
        </p>
      </div>
  </div>
</footer>
