<div class="container">
  <div class="main">
    <div class="icon">
      <span>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </span>
      <span class="store">
        Welcome to our store!!!
      </span>
      <div class="store-list">
          <h2>
            Products In Our The Store
          </h2>
          <img [src]="assets/images/gionee.jpg" >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quos!
          </p>
      </div>  
    </div>
    <div *ngFor="let product of products; index as productId" class="productthumbnail">
        <h3 class="thumbchild">
          <a [title]="product.name + 'this is the letest version'" [routerLink]="['/products',productId]">
            {{product.name}}
          </a>
        </h3>
        <p class="thumbchild">Description:{{product.description}}</p>
        <div class="row thumbchild">
          <div class="col-sm-6 col-xs-3">
            <button (click)="share()">Share</button>
          </div>
          <div class="col-sm-6 col-xs-2">
            <app-product-alerts [product]="product" (notify)="onNotify($event)"></app-product-alerts>
          </div>
        </div>
    </div>
  </div> 
</div>
 
